* {
    box-sizing: border-box;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: end;
}
form>* {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
form>div>* {
    margin: 5px;
}
form>button {
    align-self: center;
}