<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./home.css">
  
</head>

<body>
 <div class="login">
	<h1>Diabetes Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <div>
          <label for="age">Age </label>
          <input type="text" name="age" required="required" /><br>
        </div>
        <div>
          <label for="sex"> Sex </label>
          <input type="text" name="sex" required="required" /><br>
        </div>
        <div>
          <label for="bmi"> BMI </label>
          <input type="text" name="bmi" required="required" /><br>
        </div>
        <div>
          <label for="bp"> BP </label>
          <input type="text" name="bp" required="required" /><br>
        </div>
        <div>
          <label for="s1"> S1 </label>
          <input type="text" name="s1" required="required" /><br>
        </div>
        <div>
          <label for="s1"> S2 </label>
          <input type="text" name="s2" required="required" /><br>
        </div>
        <div>
          <label for="s1"> S3 </label>
          <input type="text" name="s3" required="required" /><br>
        </div>
        <div>
          <label for="s1"> S4 </label>
          <input type="text" name="s4" required="required" /><br>
        </div>
        <div>
          <label for="s1"> S5 </label>
          <input type="text" name="s5" required="required" /><br>
        </div>
        <div>
          <label for="s1"> S6 </label>
          <input type="text" name="s6" required="required" /><br>
        </div>

       

        <button type="submit">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>